/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.artifacts
/gateway/data
/gateway/.venv
/gateway/__pycache__
/gateway/.pytest_cache
/cloud/data
/cloud/.venv
/cloud/__pycache__
/cloud/.pytest_cache
*.pyc
*.log
**/.env
